<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cb09a89a-3adb-4f81-947a-82671d325cc1/resourceGroups/Trabalho-EAD/providers/Microsoft.Web/sites/trabalho-ead</ResourceId>
    <ResourceGroup>Trabalho-EAD</ResourceGroup>
    <ApiResourceId>/subscriptions/cb09a89a-3adb-4f81-947a-82671d325cc1/resourceGroups/Trabalho-EAD/providers/Microsoft.ApiManagement/service/OngPetCareApiapi/apis/OngPetCareApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trabalho-ead.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e3e6b894-e19c-4a32-87a2-6e64d62ac5b5</ProjectGuid>
    <MSDeployServiceURL>trabalho-ead.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trabalho-ead</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$trabalho-ead</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>